<div class="row justify-content-md-center align-items-center">
    <table>
        <tr>
            <th> Indicativo</th>
            <th> Condizionale</th>
            <th> Congiuntivo</th>
            <th> Imperativo</th>
            <th> Gerundio</th>
        </tr>
        <tr>   
            <td>
                <p-multiSelect [options]="IndicativoTenses" [(ngModel)]="selectedIndicativoTenses" placeholder="Select Indicativo Tenses" optionLabel="optionLabel"  [selectedItemsLabel]="'{0} items selected'" [filter]="false" size="small" />   
            </td>
            <td>
                <p-multiSelect [options]="CondizionaleTenses" [(ngModel)]="selectedCondizionaleTenses" placeholder="Select Condizionale Tenses" optionLabel="optionLabel"  [selectedItemsLabel]="'{0} items selected'" [filter]="false" size="small" />   
            </td>
            <td>
                <p-multiSelect [options]="CongiuntivoTenses" [(ngModel)]="selectedCongiuntivoTenses" placeholder="Select Congiuntivo Tenses" optionLabel="optionLabel"  [selectedItemsLabel]="'{0} items selected'" [filter]="false" size="small" />   
            </td>
            <td>
                <p-multiSelect [options]="ImperativoTenses" [(ngModel)]="selectedImperativoTenses" placeholder="Select Imperativo Tenses" optionLabel="optionLabel"  [selectedItemsLabel]="'{0} items selected'" [filter]="false" size="small" />   
            </td>
            <td>
                <p-multiSelect [options]="GerundioTenses" [(ngModel)]="selectedGerundioTenses" placeholder="Select Gerundio Tenses" optionLabel="optionLabel"  [selectedItemsLabel]="'{0} items selected'" [filter]="false" size="small" />   
            </td>
        </tr>
    </table>
</div>
<div style="padding-top:2%;" class="row justify-content-md-center align-items-center">
    <div  class="col-md-auto">
        <label>Difficulty:  <p-dropdown class="dropdown-class" [options]="difficultyLevels" [(ngModel)]="selectedDifficulty" optionLabel="label" /> </label>
    </div> 
    <div  class="col-md-auto" *ngIf="!isGameComponentVisible"  >
        <button [disabled]="!isAuthenticated"
            pButton (click)="startRound()" class="btn btn-primary btn-block button">Play</button>
    </div>

</div>


<div *ngIf="isGameComponentVisible" class="justify-content-md-center">
    <div style="padding-top: 1%;" class="row justify-content-center align-items-center">
        <h2 style="text-align: center;">Verb: {{ selectedVerb.verb.italian }}
            <i [pTooltip]="selectedVerb.verb.english"  class="pi pi-question-circle" style="padding-left: 0.5%;font-size: 1rem;color:lightblue"></i>
        </h2>
        
    </div>
    <div class="container justify-content-md-center" >
        <p-table styleClass = 'p-datatable-sm' #dt [value]="subjectPronouns" [tableStyle]="{'max-width': '100%','max-height': '30%'}">
            <ng-template pTemplate="header">
                <tr >
                    <th></th>
                    <th *ngFor="let tense of allSelectedTenses"  > {{tense.answersLabel}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-pronoun let-i="rowIndex">
                <tr >
                    <td>{{pronoun =="lui"? pronoun+"/lei" : pronoun}}</td>
                    
                    <td *ngFor="let tense of allSelectedTenses"  >
                        <div  style="text-align: center;">
                            <input  type="text" [(ngModel)]="answers[tense.mood][tense.tense][pronoun]['answer']" autocomplete="off"> 
                            <i *ngIf="answers[tense.mood][tense.tense][pronoun]['isCorrect']&&isCheckAnswersClicked" class="pi pi-check-circle" style="font-size: 1rem;color:green"></i>
                            <i *ngIf="!answers[tense.mood][tense.tense][pronoun]['isCorrect']&&isCheckAnswersClicked" class="pi pi-times-circle" style="font-size: 1rem;color:red"></i>
                        </div>

                    </td>
                </tr>
            </ng-template>
        </p-table>        
    </div>
    <div class="container justify-content-md-center" >
        <div class="row justify-content-between">
            <div *ngIf="isCheckAnswersClicked" style="padding-top:2%;" class="col-3 form-group d-flex justify-content-center">
                <button  pButton (click)="finishGame()" class="btn btn-danger btn-block button">Finish</button>
            </div>
            <div style="padding-top:2%;" class="col-3 form-group d-flex justify-content-center">
                <button  pButton (click)="showAnswers()" class="btn btn-success btn-block button">Show Answers</button>
            </div>
            <div style="padding-top:2%;" class="col-3 form-group d-flex justify-content-center">
                <button 
                    pButton (click)="checkAnswers(); sendCheckAnswersEvent()" class="btn btn-primary btn-block button">Check</button>
            </div>
            <div *ngIf="isCheckAnswersClicked" style="padding-top:2%;" class="col-3 form-group d-flex justify-content-center">
                <button  pButton (click)="startRound()" class="btn btn-success btn-block button">Next</button>
            </div>
        </div>
    </div>
    
</div>