
<header>
    <div>
        <p>Welcome to Italian Practice Games!</p>
        <p>Choose Your Game To Play</p>
    </div>
</header>


<p-tabView styleClass="tabview-custom">
    <p-tabPanel header="Gli Articoli">
        <ng-template pTemplate="header">
            <span> Gli Articoli</span>
        </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Coniugazione">
        <ng-template pTemplate="header">
            <span> Coniugazione</span>
        </ng-template>
        
    </p-tabPanel>
    <p-tabPanel header="Dizionario">
        <ng-template pTemplate="header">
            <span> Dizionario</span>
        </ng-template>
    </p-tabPanel>
</p-tabView>